/laravel/node_modules
/public_html/laravel/build
/public_html/laravel/hot
/public_html/laravel/storage
/laravel/storage/*.key
/laravel/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.lnk